
<div class = "card"> 
    <div class = "container-fluid" style = "width: 85%">
    <agm-map style = "height: 600px" [latitude]="lat" [longitude]="lng" [backgroundColor] = "color">
    
    </agm-map>
</div>
<div class = "card">

<table class = "table">
    <thead>
        <tr>
            <th scope = "col">HostID</th>
            <th scope = "col">HostName</th>
            <th scope = "col">PartyID</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let gathering of _gathering'>
            <td>{{gathering.HostID}}</td>
            <td>{{gathering.PartyID}}</td>
        </tr>
    </tbody>
</table>
</div>
</div>